.content-wrapper{
    background-color: rgb(95, 200, 235);
    padding: 1rem 1rem;
    height: auto;
    width: 50rem;
    border: 2px solid rgb(0, 0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 0.4rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
